<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>로또 번호 생성기</h1>
		<p>번호 : {{ number }}</p>
		<div class="container">
			<div class="item"><p>{{ number.0 }}</p></div>
			<div class="item"><p>{{ number.1 }}</p></div>
			<div class="item"><p>{{ number.2 }}</p></div>
			<div class="item"><p>{{ number.3 }}</p></div>
			<div class="item"><p>{{ number.4 }}</p></div>
			<div class="item"><p>{{ number.5 }}</p></div>
			<div class="item"><p>+</p></div>
			<div class="item"><p>{{ number.6 }}</p></div>
		</div>
		<a href=".">새 번호 받기</a>
	</body>
</html>
